/* Source: https://codepen.io/brooksroche/pen/FaBsD */

@-webkit-keyframes psychedelic {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }
  
  50% {
    -webkit-filter: hue-rotate(360deg) saturate(8) invert(.25);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg) saturate(2) invert(0);
  }
}

.psychedelic {
  -webkit-animation: psychedelic linear 10s infinite;
  -moz-animation: psychedelic linear 10s infinite;
  -o-animation: psychedelic linear 10s infinite;
  animation: psychedelic linear 10s infinite;
}
